
.redbox {
    background-color: red;
    width: 100px;
    height: 100px;
    padding: 10px;
    position: absolute;
    left: 0px;
    top: 50px;
}
.greenbox {
    background-color: green;
    width: 100px;
    height: 100px;
    padding: 10px;
    position: absolute;
    left: 130px;
    top: 50px;
}
.bluebox {
    background-color: blue;
    width: 100px;
    height: 100px;
    padding: 10px;
    position: relative;
    left: 250px;
    top: 9px;
  
}

h1{
    background-color: green;
    position: relative;
    font-family: sans-serif;
    margin-top: 2px;
    margin-bottom: 3px;
    right: 10px;
}

.orangebox {
    background-color: orange;
    width: 100px;
    height: 100px;
    padding: 10px;
    position: absolute;
    top: 180px;
    left: 0px;
}
    
.cyanbox {
    background-color: cyan;
    width: 100px;
    height: 100px;
    padding: 10px;
    position: absolute;
    top: 180px;
    left: 130px;
}

.magnetabox {
    background-color: magenta;
    width: 100px;
    height: 100px;
    padding: 10px;
    position: absolute;
    top: 180px;
    left:259px;
    
}

.details {
    background-color:#71a400;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

body {
    min-height: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#intro {
    font-size:larger;
    background-color:#7122bd;
    color:red;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 520px;
    margin-right: 500px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align-last: center;
}

.description{
    padding-left: 500px;
    padding-right: 500px;
    font-size: xx-large;
    text-align: -webkit-center;
    background: azure;
}
